<div class="nav-menu-container">
    <div class="nav-brand">
        <a href="/" class="brand-link">SpaceTracker</a>
    </div>

    <nav class="nav-items">
        <NavLink class="nav-link" href="">Home</NavLink> 
        
        <div class="nav-dropdown">
            <button class="nav-link dropdown-toggle">Dashboards</button>
            <div class="dropdown-menu">
                <NavLink class="dropdown-item" href="3d">3D Dashboard</NavLink>
                <NavLink class="dropdown-item" href="2d">2D Dashboard</NavLink>
            </div>
        </div>

        <div class="nav-dropdown">
            <button class="nav-link dropdown-toggle">Explore</button>
            <div class="dropdown-menu">
                <NavLink class="dropdown-item" href="astronauts">Astronauts</NavLink>
                <NavLink class="dropdown-item" href="iss">ISS</NavLink>
                <NavLink class="dropdown-item" href="spacecraft">Spacecraft</NavLink>
                <NavLink class="dropdown-item" href="Programs">Programs</NavLink>
            </div>
        </div>

        <div class="nav-dropdown">
            <button class="nav-link dropdown-toggle">Events</button>
            <div class="dropdown-menu">
                <NavLink class="dropdown-item" href="bulklaunches">Next 40 Launches</NavLink>
                <NavLink class="dropdown-item" href="news">Space News</NavLink>
            </div>
        </div>

        <div class="nav-dropdown">
            <button class="nav-link dropdown-toggle">Site Info</button>
            <div class="dropdown-menu">
                <NavLink class="dropdown-item" href="rawData">Raw Data</NavLink>
                @* <NavLink class="dropdown-item" href="test-spacedevs">SpaceDevs Data</NavLink> *@
                @* <NavLink class="dropdown-item" href="Error">Error Page</NavLink> *@
            </div>
        </div>
    </nav>
</div>
