<div class="nav-menu-container">
    <div class="menu-header"></div>

    <nav class="nav-items">
        <NavLink class="nav-link" href="" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">Dashboard</span>
        </NavLink>

        <NavLink class="nav-link" href="astronauts" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">Astronauts</span>
        </NavLink>

        <NavLink class="nav-link" href="launchFive" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">Launches</span>
        </NavLink>

        <NavLink class="nav-link" href="Programs" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">Programs</span>
        </NavLink>

        <NavLink class="nav-link" href="rawData" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">Raw Data</span>
        </NavLink>

        <NavLink class="nav-link" href="test-spacedevs" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">SpaceDevs Data</span>
        </NavLink>

        <NavLink class="nav-link" href="Error" onclick="document.getElementById('menu-toggle').checked = false;">
            <span class="nav-icon"> </span>
            <span class="nav-text">Error Page</span>
        </NavLink>
    </nav>

    <div class="menu-footer">
        <div class="cosmic-decoration"></div>
        <span class="footer-text">SpaceTracker</span>
    </div>
</div>
